<nav>
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="/saved">Saved Articles</a></li>
        </ul>
    </nav>
    <div class="container">

        <div class="jumbotron">
            <h1>Mongo Scraper</h1>
            <p>All the latest super important news from The Hard Times</p>
            <p><a class="btn btn-primary btn-lg" id="scrapebutton" href="#" role="button">Get To Scrapin'</a></p>
        </div>

        <div id="resultsdiv">

        </div>
        
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>