body {
    background-color: #ffebcd;
}

nav {
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: .5em;
}

.jumbotron {
    background-color: #ad3307;
    color: #ffd000;
}

.btn {
    font-size: 1.5em;

}

h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 10em;
    color: #ffd000;
}

p {
    font-family: 'Fjalla One', sans-serif;
    font-size: 4em;
    color: #ffd000;
}

li {
    font-family: 'Fjalla One', sans-serif;
    font-size: 4em;
    color: #ffd000;
}